body {
  
  background-clip: src="Bacground.gif" ;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  text-align: center;
}

p {
  color: white;
  font-family: 'Franklin Gothic Medium';
}

h1 {
  color: yellowgreen;
  font-size: 500%;
}

h2 {color: rgb(0, 255, 247);
    font-family: cursive;
}